* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 15px;
}

.navImage img {
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  background-color: hsl(256, 26%, 20%);
  color: hsl(0, 8%, 91%);
  margin-top: -4px;
}
.heroText{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    padding-bottom: 7rem;
}
.hero h2 {
  line-height: 1;
  font-size: 3.2rem;
  padding: 0 20px;
  margin-top: -3.7rem;
}
.hero p {
  padding: 0 23px;
  font-size: 20px;
  text-align: center;
  line-height: 1.3;
}
.hero button {
  padding: 15px 2.7rem;
  width: fit-content;
  background-color: transparent;
  color: hsl(0, 8%, 91%);
  border: 1.5px solid white;
  font-size: 16px;
  margin-top: 10px;
  height: fit-content;
}
.right-pattern img {
  display: flex;
  margin-top: -9.7rem;
  position: absolute;
  right: 0;
}


.we-difference{
    display: flex;
    flex-direction: column;
    margin: 7rem 0;
    color:  hsl(270, 9%, 17%);
    align-items: center;
    text-align: center;
}
.we-difference span{
    border-bottom: 1px solid hsl(270, 9%, 17%);
    margin: 20px 0;
    width: 150px;
    margin: auto;
    text-align: center;
}
.we-difference h2{
    font-size: 3rem;
    margin: 20px 0;
}

.difference-logo{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 29px;
    align-items: center;
    text-align: center;
    font-size: 28px;
    margin-bottom: 90px;
}
.difference-logo p{
    font-size: 19px;
}